# configuration and readme
!.gitignore
!.gitpod.yml
conftest.py
!.gitpod.Dockerfile
!learn.json
!README.md
!.devcontainer
!.devcontainer/*

# exercises
!.learn/
!.learn/*
.learn/_app
.learn/.session
.learn/dist
.learn/app.tar.gz
.learn/config.json
.learn/vscode_queue.json

.ipynb_checkpoints/
__pycache__
venv
.idea
.vscode
Untitled.ipynb
.pytest_cache
